$secondary_color: #ffa500;
$box_shadow_color: #686868;
$border: 1px solid #734b00;
$box_shadow: 1px 1px 5px $box_shadow_color;
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, black, #424242) no-repeat;
  height: 350px;
  width: 20rem;
  overflow: hidden;
}
main {
  padding: 16px;
  height: inherit;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $box_shadow_color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary_color;
  }
  #search_box {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    span {
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: $secondary_color;
      width: 0%;
      left: 0;
      right: 0;
      transition: width 0.3s linear;
    }
    input {
      width: 100%;
      padding: 4px;
      border-radius: 4px;
      outline: none;
      &:focus {
        & + span {
          width: 100%;
        }
      }
    }
  }
  ul {
    list-style: none;
    li {
      border: $border;
      color: white;
      border-radius: 4px;
      box-shadow: $box_shadow;
      display: flex;
      align-items: center;
      padding: 0 4px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
      img {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
      }
      a {
        flex: 1;
        display: block;
        padding: 8px 20px 8px 8px;
        cursor: pointer;
        position: relative;
        button {
          border: none;
          background-color: transparent;
          color: red;
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          font-size: 18px;
          text-align: center;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
