$secondary_color: #ffa500;
$box_shadow_color:#686868;
$border:1px solid #734b00;
$box_shadow: 1px 1px 5px $box_shadow_color;
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, black, #424242) no-repeat;
  height: 350px;
  width: 20rem;
}
main {
  padding: 16px;
  #search_box {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    span {
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: $secondary_color;
      width: 0%;
      left: 0;
      right: 0;
      transition: width 0.3s linear;
    }
    input {
      width: 100%;
      padding: 4px;
      border-radius: 4px;
      outline: none;
      &:focus {
        & + span {
          width: 100%;
        }
      }
    }
  }
  ul{
    list-style: none;
    li{
      border: $border;
      color: white;
      border-radius: 4px;
      box-shadow: $box_shadow;
      a{
        display: block;
        padding: 4px 8px;
      }
    }
  }
}
